section#contact{
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    position: relative;
    top: 6rem;
    text-align: center;
    width: 80%;
    align-items: center;
    margin: 2rem auto;
    justify-content: center;
    padding: 4rem;
    
h1{
    width: 100%;
    display: block;
    font-size: 2.5rem;
}
div.row{

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    form{

        textarea{
            height: 10rem;
            resize: none;
        }
        input{
            font-size: 1.4rem;
            color: #333;
            text-transform: none;
            border: .1rem solid rgba(0, 0, 0, .1);
            border-radius: .5rem;
            margin-top: .7rem;
            width: 100%;
         
        }
        .btn{
            display: inline-block;
            margin-top: 1.5rem;
            border-radius: 5rem;
            background: #333;
            color: #fff;
            padding: .5rem 1.5rem;
            cursor: pointer;
            font-size: 1.4rem;
            &:hover{  background-color: rgb(9, 133, 196);}
        }

    } 
}
}