div.main-container{
    text-align: center;
    background-image: url(/img/speakers.webp);
    height: 25rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    input{
        align-items: center;
        padding: 1rem;
        width: 50%;
        opacity: 0.8;
        border-radius: 6rem;
        letter-spacing: 0.5rem;
        font-weight:bold ;
        text-transform: capitalize;
        &:hover{
            cursor: pointer;
            background-color: rgb(9, 133, 196);
            padding: 1.3rem;
             
        }
    }

}