@mixin fontStyle{
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
}
@mixin flexBetween{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}