nav{
  @include flex(flex,row,space-around);
  padding: 2.5rem;
  position: fixed;
  width: 100vw;
  z-index: 10;
    div.logo{
        span{
          @include fontStyle;
        }
    }
    .pages>ul{
    @include flexBetween;
      li{
        margin-right: 1rem;
        a{
          font-size: 1.3rem;
          color:black;
          &:hover{
            color:  rgb(9, 133, 196);
          }
        }
      }
    }

  
}
