div.speakers{
    @include fontStyle;
    @include center;
    @include position(relative,6rem);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
 

.speaker{
    
    @include flex(flex,column,center);
    padding: 3rem;
    img{
        border-radius: 3.5rem;
        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius:50%;
        padding: 0.5rem;
        background-color: aliceblue;
        margin-bottom:1.5rem;
        &:hover{
            transform: scale(1.1);
         
        }
    
    }
}
}